<main class="w-screen relative">
  <!-- Header -->
  <div class="w-screen fixed h-[10rem] flex justify-between align-middle px-20 text-center font-normal text-3xl">
    <div class="flex items-center cursor-pointer">
      The Developers
    </div>
    <div>
      <img src="../assets/logo.png" alt="logo" class="bg-contain h-[10rem] cursor-pointer">
    </div>
    <div class="flex items-center cursor-pointer gap-6">
      Login
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>

  <!-- Login form -->
  <div class="main-screen w-screen h-screen flex items-center justify-center">
    <div class="flex gap-4 w-3/12 flex-col m-auto">
      <!-- email -->
      <div class="email relative h-14">
        <fa-icon [icon]="faUserCircle" class="absolute top-0 bottom-0 left-5 text-2xl flex items-center"></fa-icon>
        <input type="email" name="email" id="email" placeholder="Email" class="h-14 w-full rounded-full pl-16 text-xl">
      </div>
      <!-- password -->
      <div class="password relative h-14">
        <fa-icon [icon]="faLock" class="absolute top-0 bottom-0 left-5 text-2xl flex items-center"></fa-icon>
        <input type="password" name="password" id="password" placeholder="Password"
          class="h-14 w-full rounded-full pl-16 text-xl">
      </div>
      <div class="w-full h-10 flex justify-center mt-6">
        <button type="button"
          class="flex items-center p-7 rounded-full w-full justify-center font-medium text-2xl text-white bg-blue-700 hover:bg-blue-600">Login</button>
      </div>
      <div class="flex w-full justify-between text-lg font-medium">
        <a href="#" target="_blank" rel="noopener noreferrer"><span class="hover:underline hover:text-blue-500">Create
            Account</span></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><span class="hover:underline hover:text-blue-500">Need
            Help?</span></a>
      </div>
    </div>
  </div>
</main>